Source: ros-verystable-joy-teleop
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-ament-copyright, ros-verystable-ament-flake8, ros-verystable-ament-pep257, ros-verystable-ament-xmllint, ros-verystable-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-joy-teleop
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-verystable-control-msgs, ros-verystable-rclpy, ros-verystable-sensor-msgs, ros-verystable-teleop-tools-msgs, ros-verystable-trajectory-msgs, ros-verystable-ros-workspace
Description: A (to be) generic joystick interface to control a robot
